@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400&display=swap');

.nav-header {
  background-color: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0;
  margin-bottom: 100px;
}

.nav-header h1 {
  color: var(--primary);
  text-decoration: none;
  margin: 5px 0 0 0;
  font-family: 'Bebas Neue', 'Oswald', Helvetica, sans-serif;
  font-size: 3rem;
}

.nav-header a {
  color: var(--primary);
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

.nav-header ul {
  margin-right: 5rem;
  list-style: none;
  font-family: 'Barlow', sans-serif;
  font-weight: 200;
}

.nav-header ul li {
  font-size: 20px;
  padding: 8px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-circle {
  width: 50px;
  height: 50px;
  background-image: url(../../../src/assets/icon.png);
  background-position: center;
  background-size: 60px;
  margin: 0 0 0 60px;
}

.nav-links {
  display: flex;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .nav-header {
    margin-bottom: 75px;
  }
}

@media screen and (max-width: 480px) {
  .nav-links {
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  .nav-header ul li {
    font-size: 18px;
    padding: 8px;
  }

  .nav-header {
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
  }

  .nav-header ul {
    margin: 0;
  }

  .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  .logo-circle {
    margin: 0;
  }

  .nav-header h1 {
    margin: 5px 15px 0 0;
  }
}