@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600&display=swap');

.contact-us {
  margin: 100px auto 50px auto;
  text-align: center;
  flex-direction: column;
  font-family: 'Barlow', sans-serif;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
  width: 100%;
  margin: 0 auto;
}

.contact-left-container {
  width: 50%;
  padding: 40px 0 40px 100px;
}

.map {
  width: 80%;
}

.contact-right-container {
  flex-direction: column;
  width: 50%;
  padding: 20px 100px 20px 0;
}

.contact-right-container h1 {
  color: var(--primary);
  text-decoration: none;
  margin: 5px 0 0 0;
  font-family: 'Bebas Neue', 'Oswald', Helvetica, sans-serif;
  font-size: 40px;
}

.contact-right-container p {
  margin: 5px 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.label {
  font-size: 19px;
  padding: 10px 0 10px 0;
  font-family: 'Barlow', sans-serif;
}

.input {
  color: var(--primary);
  width: 100%;
  outline: none;
  border-radius: 3px;
  font-family: 'Barlow', sans-serif;
}

.input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 8px 12px #24242437;
}

.message-box {
  width: 100%;
  border-radius: 3px;
  border: none;
  font-size: 19px;
  font-family: 'Barlow', sans-serif;
}

.contact-submit {
  cursor: pointer;
  background-color: var(--secondary);
  border: none;
  color: var(--primary);
  font-size: 1.2rem;
  font-weight: bold;
  margin: 30px 0 10px 0;
  padding: 10px 20px;
  border-radius: 3px;
  text-align: center;
  width: 100%;
  font-family: 'Barlow', sans-serif;
}

.contact-submit:hover {
  background-color: var(--tertiary);
  transition: background-color 0.3s ease, transform 0.3s ease;
  transform: scale(1.05);
}

/* Tablet devices (768px and up) */
@media (min-width: 768px) and (max-width: 1024px) {
  .contact {
    flex-direction: column;
  }

  .contact-left-container {
    width: 100%;
    padding: 0px 100px 40px 100px;
  }

  .map {
    width: 100%;
  }

  .contact-right-container {
    flex-direction: column;
    width: 100%;
    padding: 20px 100px 20px 100px;
  }

  .contact-right-container h1 {
    font-size: 40px;
  }

  .contact-right-container p {
    font-size: 20px;
  }

  .label {
    font-size: 20px;
  }
  
  .input {
    font-size: 20px;
  }

  .contact-submit {
    font-size: 20px;
  }
}

/* Mobile devices (767px and below) */
@media screen and (max-width: 480px) {
  .contact {
    flex-direction: column;
  }

  .contact-us {
    font-size: 22px;
    margin: 60px auto 30px auto;
  }

  .contact-left-container {
    width: 100%;
    padding: 0 50px 0 50px;
  }

  .map {
    width: 100%;
  }

  .contact-right-container {
    flex-direction: column;
    width: 100%;
    padding: 20px 50px 20px 50px;
  }

  .contact-right-container h1 {
    font-size: 30px;
  }

  .contact-right-container p {
    font-size: 16px;
  }

  .label {
    font-size: 16px;
  }
  
  .input {
    font-size: 16px;
  }

  .contact-submit {
    font-size: 16px;
  }
}