@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600&display=swap');

.card {
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  margin: 10px;
  background-color: var(--light);
  border-radius: 5px;
  transition: all 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1 0 calc(25% - 20px); 
  max-width: calc(25% - 20px);
  flex-wrap: wrap;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px #24242437;
}

.card:hover a {
  text-decoration: none;
}

.img-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: auto;
  display: block;
}

.product-info {
  color: var(--primary);
  font-family: 'Barlow', sans-serif;
}

.product-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  font-family: 'Barlow', sans-serif;
}

.product-price {
  font-size: 16px;
  margin-bottom: 16px;
  font-family: 'Helvetica', sans-serif;
}

/* Tablet devices (768px and up) */
@media (max-width: 1024px) {
  .card {
    flex: 1 0 calc(50% - 20px); /* 50% width minus margins */
    max-width: calc(50% - 20px);
  }

  .product-name {
    font-size: 20px;
  }
  
  .product-price {
    font-size: 18px;
  }
}

/* Mobile devices (767px and below) */
@media screen and (max-width: 480px) {
  .card {
    flex: 1 0 calc(100% - 20px); /* 100% width minus margins */
    max-width: calc(100% - 20px);
    /* margin: 0px 10px; */
  }

  .product-name {
    font-size: 18px;
  }
  
  .product-price {
    font-size: 16px;
  }
}
